"*":
  "atom-beautify":
    general:
      _analyticsUserId: "556b8f8a-22e4-4867-bf6a-d82180a70b57"
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    useSnippets: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-c"
      "language-csharp"
      "language-coffee-script"
      "language-clojure"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "tree-view"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "northem-dark-atom-ui"
      "northem-dark-atom-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  linter: {}
  "markdown-preview": {}
  minimap:
    plugins:
      "my-minimap-plugin": true
      "my-minimap-pluginDecorationsZIndex": 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-buck":
      pathToBuck: "/usr/local/bin/buck"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "terminal-plus":
    core: {}
  "tool-bar":
    position: "Right"
  welcome:
    showOnStartup: false
