"*":
  "atom-beautify":
    general:
      _analyticsUserId: "556b8f8a-22e4-4867-bf6a-d82180a70b57"
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    useSnippets: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-c"
      "language-csharp"
      "language-coffee-script"
      "language-clojure"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "northem-dark-atom-ui"
      "northem-dark-atom-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  linter: {}
  "markdown-preview": {}
  minimap:
    plugins:
      "my-minimap-plugin": true
      "my-minimap-pluginDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "sync-settings":
    _analyticsUserId: "cac92d12-fae3-4e8a-9c95-eb858f857744"
    _lastBackupHash: "8262c299462d994fb72e3999da3b4388ceae672c"
    analytics: false
    gistId: "84c83491fef4cf25c60b8f35315d7af9"
    personalAccessToken: "bf324cd6372a37e5e066172d8e53c6ba11693495"
  "terminal-plus":
    core: {}
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
