packages: [
  "atom-beautify"
  "atom-ternjs"
  "auto-detect-indentation"
  "auto-update-packages"
  "autocomplete-flow"
  "autocomplete-modules"
  "docblockr"
  "editorconfig"
  "es6-javascript"
  "file-icons"
  "flex-tool-bar"
  "git-control"
  "haskell-grammar"
  "highlight-selected"
  "javascript-snippets"
  "language-babel"
  "language-graphql"
  "language-ini"
  "language-ocaml"
  "language-swift"
  "language-thrift"
  "linter"
  "linter-eslint"
  "merge-conflicts"
  "minimap"
  "modern-react-snippets"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "nova-atom-ui"
  "nuclide"
  "nuclide-format-js"
  "open-recent"
  "package-sync"
  "platformio-ide-terminal"
  "sort-lines"
  "todo-show"
  "tool-bar"
]
