packages: [
  "atom-beautify"
  "atom-ternjs"
  "auto-detect-indentation"
  "auto-update-packages"
  "autocomplete-flow"
  "autocomplete-modules"
  "docblockr"
  "editorconfig"
  "es6-javascript"
  "file-icons"
  "flex-tool-bar"
  "javascript-snippets"
  "language-babel"
  "linter"
  "linter-eslint"
  "minimap"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "open-recent"
  "package-sync"
  "platformio-ide-terminal"
  "sync-settings"
  "tool-bar"
]
